name = "BinaryBuilderBase"
uuid = "7f725544-6523-48cd-82d1-3fa08ff4056e"
authors = ["Elliot Saba <staticfloat@gmail.com>"]
version = "1.42.0"

[deps]
Bzip2_jll = "6e34b625-4abd-537c-b88f-471c36dfa7a0"
CodecZlib = "944b1d66-785c-5afd-91f1-9de20f533193"
Downloads = "f43a241f-c20a-4ad4-852c-f6b1247861c6"
Gzip_jll = "be1be57a-8558-53c3-a7e5-50095f79957e"
HistoricalStdlibVersions = "6df8b67a-e8a0-4029-b4b7-ac196fe72102"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
JLLWrappers = "692b3bcd-3c85-4b1f-b108-f13ce0eb3210"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
LibGit2 = "76f85450-5226-5b5a-8eaa-529ad045b433"
LibGit2_jll = "e37daf67-58a4-590a-8e99-b0245dd2ffc5"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
OutputCollectors = "6c11c7d4-943b-4e2b-80de-f2cfc2930a8c"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
RegistryInstances = "2792f1a3-b283-48e8-9a74-f99dce5104f3"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
REPL = "3fa0cd96-eef1-5676-8a61-b3b8758bbffb"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SHA = "ea8e919c-243c-51af-8825-aaa63cd721ce"
Scratch = "6c6a2e73-6563-6170-7368-637461726353"
SimpleBufferStream = "777ac1f9-54b0-4bf8-805c-2214025038e7"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
Tar = "a4e569a6-e804-4fa4-b0f3-eef7a1d5b13e"
Tar_jll = "9b64493d-8859-5bf3-93d7-7c32dd38186f"
UUIDs = "cf7118a7-6976-5b1a-9a39-7adc72f591a4"
XZ_jll = "ffd25f8a-64ca-5728-b0f7-c24cf3aae800"
Zstd_jll = "3161d3a3-bdf6-5164-811a-617609db77b4"
p7zip_jll = "3f19e933-33d8-53b3-aaab-bd5110c3b7a0"
pigz_jll = "1bc43ea1-30af-5bc8-a9d4-c018457e6e3e"
unzip_jll = "88f77b66-78eb-5ed0-bc16-ebba0796830d"

[compat]
Bzip2_jll = "1.0.8"
CodecZlib = "0.5, 0.6, 0.7"
Downloads = "1.5"
Gzip_jll = "1.12.0"
HistoricalStdlibVersions = "2"
InteractiveUtils = "1.7"
JLLWrappers = "1.4"
JSON = "0.21, 1"
LibGit2 = "1.7"
LibGit2_jll = "1.2.3"
Libdl = "1.7"
Logging = "1.7"
OrderedCollections = "1.4.1"
OutputCollectors = "0.1"
Pkg = "1.7"
Printf = "1.7"
ProgressMeter = "1"
REPL = "1.7"
Random = "1.7"
RegistryInstances = "0.1"
SHA = "0.7, 1"
Scratch = "1.0"
SimpleBufferStream = "1"
TOML = "1"
Tar = "1.7"
Tar_jll = "1.35.0"
UUIDs = "1.7"
XZ_jll = "5.4.4"
Zstd_jll = "1.5.5"
p7zip_jll = "16.2.1, 17.4.0"
pigz_jll = "2.7.0"
unzip_jll = "6.0.2"
julia = "1.7"
